/* styles pour le cours PHP 21/22 Suresnes Pisola  */


/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; */

body {
    font-family: 'Merriweather', serif;
    font-size: 1em;
    background-color: rgb(186, 248, 255);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 1.8em;
}